:root{
  --black: hsl(0,0%,17.5%);
  --black25: hsl(0,0%,22.5%);
  --black75: hsl(210,4%,26%);
  --black200: hsl(210,5.5%,43.5%);
  --black300: hsl(210,6.5%,52%);
  --black400: hsl(210,8%,65%);
  --black700: hsl(210,8%,82.5%);
  --black900: hsl(210,4%,95%);

  --blue300: hsl(206,53%,35%);
  --blue600: hsl(206,100%,60%);

  --powder100: hsl(205,14%,28%);
  --powder400: hsl(205,22.5%,44%);
  --powder500: hsl(205,29%,54%);
  --powder700: hsl(205,46.5%,73.5%);

  --bs-light: 0 1px 4px hsla(0,0%,0%,0.14), 0 3px 8px hsla(0, 0%, 0%, 0.14), 0 4px 13px hsla(0, 0%, 0%, 0.18);
}
