.link {
  color: var(--blue600);
  text-decoration: none;
  font-size: 12px;
  &:hover {
    opacity: 0.7;
  }
  &--btn {
    display: block;
    height: 100%;
    color: var(--powder700);
    text-decoration: none;
    padding: 0.6rem;
  }
}

.btn-link {
  padding: 0 !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

* {
  scrollbar-color: var(--black300) var(--black50);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--black100);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--black200);
}
